---
http_interactions:
- request:
    method: post
    uri: https://ec2.ap-southeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Version=2015-04-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20150611T130151Z
      X-Amz-Content-Sha256:
      - 5cf362095e1c4a19ec76902847415d1ebb7d43beaf47280960f29c059a1ed2d3
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIBEZVV2CZ3CDJ77Q/20150611/ap-southeast-1/ec2/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=0ad94837244b3f0c61668feefdb532e7ebbc4c61f5cbed6cd5f29d61ebbedd61
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2015-04-15/">
            <requestId>0fc73b2a-37eb-47d9-9336-c11d6c301ea4</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-009ef4cd</reservationId>
                    <ownerId>908941582419</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-c5ce9590</groupId>
                            <groupName>solarch-stage1-Stage1SecGrp-1ICNCY2FEZSD9</groupName>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-7291bcbf</instanceId>
                            <imageId>ami-e8f1c1ba</imageId>
                            <instanceState>
                                <code>16</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-10-144-24-114.ap-southeast-1.compute.internal</privateDnsName>
                            <dnsName>ec2-54-179-51-18.ap-southeast-1.compute.amazonaws.com</dnsName>
                            <reason/>
                            <keyName>aisrael</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t1.micro</instanceType>
                            <launchTime>2015-06-05T19:02:52.000Z</launchTime>
                            <placement>
                                <availabilityZone>ap-southeast-1a</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <kernelId>aki-503e7402</kernelId>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <privateIpAddress>10.144.24.114</privateIpAddress>
                            <ipAddress>54.179.51.18</ipAddress>
                            <groupSet>
                                <item>
                                    <groupId>sg-c5ce9590</groupId>
                                    <groupName>solarch-stage1-Stage1SecGrp-1ICNCY2FEZSD9</groupName>
                                </item>
                            </groupSet>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/sda1</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/sda1</deviceName>
                                    <ebs>
                                        <volumeId>vol-e038c808</volumeId>
                                        <status>attached</status>
                                        <attachTime>2015-06-05T19:02:55.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                                <item>
                                    <deviceName>/dev/sdb</deviceName>
                                    <ebs>
                                        <volumeId>vol-ff38c817</volumeId>
                                        <status>attached</status>
                                        <attachTime>2015-06-05T19:02:55.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>paravirtual</virtualizationType>
                            <clientToken>solar-Stage-AM7UD4S3SDMI</clientToken>
                            <tagSet>
                                <item>
                                    <key>aws:cloudformation:stack-name</key>
                                    <value>solarch-stage1</value>
                                </item>
                                <item>
                                    <key>aws:cloudformation:stack-id</key>
                                    <value>arn:aws:cloudformation:ap-southeast-1:908941582419:stack/solarch-stage1/625f7f80-0bb5-11e5-8b38-50018233b2b4</value>
                                </item>
                                <item>
                                    <key>aws:cloudformation:logical-id</key>
                                    <value>Stage1Instance</value>
                                </item>
                            </tagSet>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet/>
                            <ebsOptimized>false</ebsOptimized>
                        </item>
                    </instancesSet>
                </item>
            </reservationSet>
        </DescribeInstancesResponse>
  recorded_at: Thu, 11 Jun 2015 13:01:58 GMT
recorded_with: VCR 2.9.3
